@if (selectedTask()) {
<div>
  <div>
    <h3>Task details</h3>
    <button class="close-btn" (click)="onCloseClick()">x</button>
  </div>

  <div>
    <h2>{{ selectedTask()!.title }}</h2>
    <p class="description">{{ selectedTask()!.description }}</p>

    <div>
      <h4>users :</h4>
      <div>
        @for (user of selectedTask()!.assignedUserIds; track $index) {
        <span class="user-tag">{{ user }}</span>
        }
      </div>
    </div>

    <div>
      <button>Modify</button>
      <button>delete</button>
    </div>
  </div>
</div>
} @else {
<div>
  <p>error : select a task</p>
</div>
}
