@use "../variables" as *;

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-col {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5 * $ds-gap-unit;
}

.col {
  flex: 1 !important;
  margin-right: 5 * $ds-gap-unit;
}

.full-width {
  width: 100% !important;
}

@for $i from 0 through 25 {
  .gap-#{$i} {
    gap: $i * $ds-gap-unit;
  }
  .gap-x-#{$i} {
    column-gap: $i * $ds-gap-unit;
  }
  .gap-y-#{$i} {
    row-gap: $i * $ds-gap-unit;
  }
}
