@use "./assets/fonts";
@use "./assets/themes";
@use "./assets/styles";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  margin-top: auto;
  margin-bottom: auto;
}

:root {
  --ma-variable: clamp(80px, 10vw, 110px);
  --hauteur-restante: calc(100vh - var(--ma-variable));
}
