<h2 mat-dialog-title>Inscription Réussie</h2>
<mat-dialog-content>
  <div>
    <p class="m-0">Votre inscription a été effectuée avec succès.</p>
    <p class="m-0">
      Un email de confirmation vous a été envoyé. Pensez à vérifier votre
      dossier de spams.
    </p>
  </div>

  <p>Vous devez confirmer votre compte avant de pouvoir vous connecter.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button routerLink="/" mat-button mat-dialog-close>Retourner a la page d'Accueill</button>
</mat-dialog-actions>
