<svg width="800" height="520" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="angularGradient" x1="0%" x2="100%" y1="0%" y2="100%">
      <stop offset="0%" stop-color="#dd0031" />
      <stop offset="30%" stop-color="#dd0031" />
      <stop offset="50%" stop-color="#b0003a" />
      <stop offset="68%" stop-color="#8a0060" />
      <stop offset="85%" stop-color="#561BBE" />
      <stop offset="100%" stop-color="#70E6FB" />
    </linearGradient>

    <mask id="textMask">
      <rect width="100%" height="100%" fill="white" />
      <text
        x="400"
        y="262.65"
        text-anchor="middle"
        font-size="220"
        font-weight="bold"
        font-family="Roboto, sans-serif"
        fill="black"
      >
        S
      </text>
    </mask>
  </defs>

  <path
    d="m400,71.45l103.05,49l-9.5,129l-93.55,51.5l-94.95,-51.5l-8,-129l102.95,-49z"
    fill="url(#angularGradient)"
    mask="url(#textMask)"
  />

  <text
    fill="url(#angularGradient)"
    font-family="Roboto, sans-serif"
    font-size="90"
    font-weight="bold"
    text-anchor="middle"
    x="400"
    y="420"
  >
    NGX-STATEWISE
  </text>
</svg>
