.mat-expansion-panel-header-title {
  flex: 0 0 auto !important;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.tag-orange {
  background-color: rgba(251, 146, 60, 0.25);
}
.tag-green {
  background-color: rgba(52, 211, 153, 0.25);
}
.tag-blue {
  background-color: rgba(96, 165, 250, 0.25);
}
.tag-purple {
  background-color: rgba(167, 139, 250, 0.25);
}
.tag-pink {
  background-color: rgba(244, 114, 182, 0.25);
}
