.mat-expansion-panel-header-title {
  flex: 0 0 auto !important;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.tag-orange {
  background-color: var(--project-orange);
}
.tag-green {
  background-color: var(--project-green);
}
.tag-blue {
  background-color: var(--project-blue);
}
.tag-purple {
  background-color: var(--project-purple);
}
.tag-pink {
  background-color: var(--project-pink);
}
