.side-panel-content {
  width: 60vw !important;
  border-radius: 0px !important;
  padding: 1rem;
  background-color: var(--mat-sys-background, #fff);
}

.view-content {
  box-sizing: border-box;
  height: 100vh;
  padding-left: 3rem;
  padding-right: 2rem;
  overflow-y: auto;
  overflow-x: auto;
}
.panel-content{
  height: 100vh;
}
