.content {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  width: calc(100% - var(--ma-variable));
}

.nav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
