<form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
  <mat-card class="signup-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Create your account</mat-card-title>
      <mat-card-subtitle>Or sign up with the admin account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="mt-6">
        <div class="row">
          <mat-form-field class="full-width" subscriptSizing="dynamic" appearance="outline">
            <mat-label>Email address</mat-label>
            <input formControlName="email" matInput type="email" />
            @if (this.signupForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="mt-6">
          <div class="row">
            <mat-form-field class="full-width" subscriptSizing="dynamic" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                matInput
                [type]="hidePW1() ? 'password' : 'text'"
              />
              <button
                class="mr-2"
                type="button"
                mat-icon-button
                matSuffix
                (click)="handlePW1Click($event)"
              >
                <mat-icon>{{
                  hidePW1() ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              @if (this.signupForm.get('password')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
              } @else if (this.signupForm.get('password')?.hasError('minlength')) {
                <mat-error>Password must be at least 8 characters long</mat-error>
              } @else if (this.signupForm.get('password')?.hasError('maxlength')) {
                <mat-error>Password must not exceed 30 characters</mat-error>
              } @else if (this.signupForm.get('password')?.hasError('pattern')) {
                <mat-error>
                  Password must include at least:
                  <ul>
                    <li>One uppercase letter</li>
                    <li>One lowercase letter</li>
                    <li>One number</li>
                    <li>One special character</li>
                  </ul>
                </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input
                formControlName="verifyPassword"
                matInput
                [type]="hidePW2() ? 'password' : 'text'"
              />
              <button
                class="mr-2"
                type="button"
                mat-icon-button
                matSuffix
                (click)="handlePW2Click($event)"
              >
                <mat-icon>{{
                  hidePW2() ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              @if (this.signupForm.get('verifyPassword')?.hasError('passwordMismatch')) {
                <mat-error>Passwords do not match</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-stroked-button>
        Create an account
      </button>
    </mat-card-actions>
  </mat-card>
</form>

