<app-side-panel #taskPanel>
  <h1 class="task-page-header">TASK</h1>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">view_list</mat-icon>
        All Tasks
      </ng-template>
      <app-all-task-list
        (taskSelected)="selectTask($event)"
        [tasks]="this.taskManager.tasks()!"
      />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        My Tasks
      </ng-template>
      Content 2</mat-tab
    >

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">construction</mat-icon>
        By Projects
      </ng-template>
      Content 2</mat-tab
    >

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">view_kanban</mat-icon>
        Kanban
      </ng-template>
      Content 2</mat-tab
    >
  </mat-tab-group>

  <div slot="panel-content">
    <app-task-details
      [selectedTask]="selectedTask()"
      (close)="closeSideNav()"
    />
  </div>
</app-side-panel>
